<p>user-detail works!</p>
<p style="color: green;">{{message}}</p>
<table>
    <tr>
        <td>userId:</td>
        <td><input id='userId' type='text' #userId value="{{user.userId}}"></td>
    </tr>
    <tr>
        <td>fullNane:</td>
        <td><input id='userFullName' type='text' #fullNane value="{{user.fullNane}}"></td>
    </tr>
    <tr>
        <td>kanaName: </td>
        <td><input id='kanaName' type='text' #kanaName value="{{user.kanaName}}"></td>
    </tr>
    <tr>
        <td>birthDay:</td>
        <td><input id='birthDay' type='text' #birthDay value="{{user.birthDay}}"></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button (click)='SaveButtonOnclick(userId.value, fullNane.value, kanaName.value, birthDay.value)'>Save</button>
            <button (click)='goBack()'>Back</button>
        </td>
    </tr>
</table>

