<p>user works!</p>
<div *ngIf = 'users.length'>
    <div *ngFor = 'let user of users'>
        <a id='userId' routerLink='/users/detai/{{user.userId}}'>
            {{user.userId}}
        </a>
        <div id='userFullName'>
            {{user.fullNane}}
        </div>
        <div id='kanaName'>
            {{user.kanaName}}
        </div>
        <div id='birthDay'>
            {{user.birthDay}}
        </div>
        <button id='btnEdit' (click)='EditButtonOnclick(user)'>Edit</button>
        <button id='btnDelete' (click)='DeleteButtonOnclick(user.userId)'>Delete</button><br />
        ---------------------------------------
    </div>
</div>
<button id='btnInsert' (click)='AddButtonOnclick()'>Add</button>

    
