<p>user works!</p>
<p style="color: green;">{{message}}</p>

<div *ngFor = 'let user of users'>
    <!--Component childUserEdit sẽ hiển thị khi editFlag = true-->
    <div *ngIf='user.editFlag==true; else elseBlock'>
        <child-user-edit [user]='user' (userChange)="setUserEdit($event)"></child-user-edit>
    </div>
    <!--Component childUserEdit sẽ hiển thị khi editFlag = false hoặc undefine-->
    <ng-template #elseBlock>
        <child-user-view [user]='user'></child-user-view>
    </ng-template>
</div>
<button id='btnInsert' (click)='AddButtonOnclick()'>Add</button><br/>



    
